@import "tailwindcss";

:root {
  --background: #ffffff; /* Fundo Branco */
  --foreground: #171717; /* Texto quase preto */
}

/* Isso garante que o site ocupe a tela toda sem barras brancas sobrando */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
